# Turn rewrite engine on
#https://code.tutsplus.com/tutorials/using-htaccess-files-for-pretty-urls--net-6049


Options +FollowSymlinks
RewriteEngine on
#RewriteCond %{SCRIPT_FILENAME} !-d
#RewriteCond %{SCRIPT_FILENAME} !-f
#Options -MultiViews

# map neat URL to internal URL
RewriteRule ^supplier/list/$   RestController.php?resource=supplier&page_key=list [nc,qsa]
RewriteRule ^supplier/list$   RestController.php?resource=supplier&page_key=list [nc,qsa]

RewriteRule ^supplier/create/$   RestController.php?resource=supplier&page_key=create [nc,qsa]
RewriteRule ^supplier/create$   RestController.php?resource=supplier&page_key=create [nc,qsa]

RewriteRule ^supplier/delete/([0-9]+)/$   RestController.php?resource=supplier&page_key=delete&id=$1 [nc,qsa]
RewriteRule ^supplier/delete/([0-9]+)$   RestController.php?resource=supplier&page_key=delete&id=$1 [nc,qsa]

RewriteRule ^supplier/update/([0-9]+)/$   RestController.php?resource=supplier&page_key=update&id=$1 [nc,qsa]
RewriteRule ^supplier/update/([0-9]+)$   RestController.php?resource=supplier&page_key=update&id=$1 [nc,qsa]