/* login */
.box{
    padding-top: 140px;
    width: 100%;
    /* padding: 40px; */
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%); */
    background: #191919;
    text-align: center;
    border: solid 2px gray;
    height: 730px;
}

.box h1{
    color: white;
    text-transform: uppercase;
    font-weight: 500;
}

.box input[type = "text"], .box input[type = "password"]{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: white;
    border-radius: 25px;
    transition: .25s;
}

.box input[type = "text"]:focus, .box input[type = "password"]:focus{
    width: 280px;
    border-color: #2ecc71;
}

.box input[type = "submit"]{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #2ecc71;
    padding: 14px 40px;
    outline: none;
    color: white;
    border-radius: 25px;
    transition: .25s;
    cursor: pointer;
}

.box input[type = "submit"]:hover{
    background: #2ecc71;
}

@media screen and (max-width:900px){ 
    .box{
        width: 95%;
    }
}

.box a{
    text-decoration: none;
    color: rgb(116, 23, 23);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    padding: 10px;
    transition: .8s;
    display: block;
}

.box a:hover{
    background: rgba(0, 0, 0, .3);
}