html{
  scroll-behavior: smooth;
}

*{
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

header{
  height: 100px;
  background: #476685;
  padding: 0 20px;
  color: #fff;
}

.logo{
  line-height: 100px;
  float: left;
  text-transform: uppercase;
}

.navbar-toggler {
  color: #007bff;
  border-color: #007bff;
}

     a.nav-link * { vertical-align: bottom;}
      .nml  { vertical-align: sub;}


.menu{
  float: right;
  line-height: 100px;
}
k
.menu a{
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0 10px;
  transition: .4s;
}

.show-menu-btn, .hide-menu-btn{
  transition: .4s;
  font-size: 30px;
  cursor: pointer;
  display: none;
}

.show-menu-btn{
  float: right;
}

.show-menu-btn i{
  line-height: 100px;
}

.menu a:hover, .show-menu-btn:hover, .hide-menu-btn:hover{
  color: #3498db;
}

#chk{
  position: absolute;
  visibility: hidden;
  z-index: -1111;
}

.content{
  padding: 0 20px;
}

.content img{
  width: 100%;
  max-width: 700px;
  margin: 20px 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 48%;

}

.content p{
  text-align: justify;
}

@media screen and (max-width:900px){
  .show-menu-btn,.hide-menu-btn{
      display: block;
  }
/* @media screen and (max-width:900px){ */


.menu{
      position: fixed;
      width: 100%;
      height: 100vh;
      background: #333;
      right: -100%;
      top: 0;
      text-align: center;
      padding: 40px 0;
      line-height: normal;
      transition: .7s;
  }
  .menu a{
      display: block;
      padding: 20px;
  }

  .hide-menu-btn{
      position: absolute;
      top: 40px;
      right: 40px;
  }

  #chk:checked ~ .menu{
      right: 0;
  }

  /* #chk:checked{
    display: block;
  } */
}

footer{
  background: black;
  color: gray;
  font-size: 12px;
  padding: 20px 20px;
  text-align: center;

}

@import url("//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css");
.content, body{
background: rgb(125, 229, 255);
background: -webkit-linear-gradient(to bottom,  rgb(103, 190, 233), rgb(26, 36, 228));
background: linear-gradient(to bottom, rgb(118, 189, 224), rgb(26, 36, 228)), no-repeat;
}

.left {
  width: 100%;
}


table {
  border-collapse: collapse;
  width: 100%;
}

/* go top */
.gotop{
  position: fixed;
  width: 50px;
  height: 50px;
  background: grey;
  bottom: 3px;
  right: 15px;
  opacity: .5;
  border-radius: 20px;

  text-decoration: none;
  text-align: center;
  line-height: 50px;
  color: white;
  font-size: 40px;
}


@media screen and (max-width:700px){
.gotop{

  bottom: 10px;
}
}

.center{

  text-align:center;
}

/* The sidebar menu */
.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 200px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 70px;
}

/* The navigation menu links */
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
}
.sidenav p{
  padding: 6px 8px 6px 16px;
  font-size: 25px;
  color: #ffffff;
  display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}


/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}




/* SEARCH BAR */
.topnav {
  overflow: hidden;
  background-color: #e9e9e9;
}

.topnav p {
  float: left;
  color: black;
  text-align: center;
  padding: 3px;
  font-size: 17px;
}


.topnav .search-container {
  float: right;
}

.topnav input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
}

.topnav .search-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.topnav .search-container button:hover {
  background: #ccc;
}

@media screen and (max-width: 600px) {
  .topnav .search-container {
    float: none;
  }
  .topnav input[type=text], .topnav .search-container button {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .topnav input[type=text] {
    border: 1px solid #ccc;  
  }
}

